html,button,input,select,textarea{color:#222;}
body{font-size:1em;line-height:1.4;}::-moz-selection{background:#b3d4fc;text-shadow:none;}::selection{background:#b3d4fc;text-shadow:none;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}img{vertical-align:middle;}fieldset{border:0;margin:0;padding:0;}textarea{resize:vertical;}.chromeframe{margin:0.2em 0;background:#ccc;color:#000;padding:0.2em 0;}[class*="fontawesome-"]:before{font-family:'FontAwesome',sans-serif;font-style:normal;font-weight:normal;}.pure-menu{font-weight:lighter;}.pure-menu.pure-menu-fixed{position:fixed;}.pure-menu.pure-menu-blackbg{background:#222;}.pure-menu.pure-menu-blackbg .pure-menu-heading:hover{color:#efefef;}.pure-menu.pure-menu-blackbg a{color:#fff;}.pure-menu.pure-menu-blackbg a:hover{background:#666;}.pure-menu.pure-menu-blackbg .pure-menu-selected a{background:#7E45D3;
}

img { max-width: 100%;}
#capped {max-height: 400px !important; overflow: hidden;}
#xs-capped {max-height: 200px !important; padding-bottom: 70px; overflow: hidden;}

p.margin {
	margin: 10px;
}

h1.margin {
	
}

.pure-menu.pure-menu-blackbg .pure-menu-selected a:hover{color:#efefef;}
.dashboard-piece{min-height:300px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;color:#fff;text-align:center;position:relative;padding-bottom:40px;}.dashboard-piece-redbg{background-color:#E73F3F;}
.dashboard-piece-orangebg{background-color:#F76C27;}
.dashboard-piece-yellowbg{background-color:#E7E737;}
.dashboard-piece-bluebg{background-color:#6D9DD1;}
.dashboard-piece-purplebg{background-color:#7E45D3;}
.dashboard-piece-graybg{background-color:#798388;}
.dashboard-piece-logo h1{line-height:100px;}
.dashboard-piece-logo svg{margin-top:80px; min-height:}
.dashboard-piece h1{line-height:300px;font-size:3.6em;margin:0;}
.dashboard-content{position:relative;z-index:999;}
.dashboard-content p{font-weight:lighter;}
.dashboard-content .light{opacity:0.4;display:block;}
.dashboard-content h2 i{font-size:4em;opacity:0.4;}
.dashboard-metric{text-transform:uppercase;font-size:1.6em;line-height:1;}
.dashboard-metric i{margin-right:0.6em;}
.bar-horizontal{height:36px;background-color:rgba(255,255,255,0.4);position:relative;display:block;margin-top:20px;}
.bar-horizontal-bar{background:#fff;height:36px;line-height:36px;color:#444;text-transform:uppercase;font-weight:bold;font-size:0.8em;letter-spacing:0.2em;position:absolute;top:0;left:0;}
.bar-vertical{position:absolute;bottom:0px;left:0px;width:100%;background:rgba(200,200,200,0.5);}
.pure-table-center{margin:0 auto;}.pure-table-dark{color:#ddd;}
.pure-table-dark .pure-table-odd{color:#444;}
.weather{padding-top:60px;}footer{background:rgb(20,20,20);color:#aaa;padding:10px;font-size:0.6em;font-weight:bold;}
@media only screen and (max-width:767px) {.pure-g-r>[class ^="pure-u"]{width:50%;float:left;}}
@media only screen and (max-width:480px) {.pure-g-r>[class ^="pure-u"]{width:100%;}}
.ir{background-color:transparent;border:0;overflow:hidden;*text-indent:-9999px;}
.ir:before{content:"";display:block;width:0;height:150%;}
.hidden{display:none!important;visibility:hidden;}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}
.invisible{visibility:hidden;}
.clearfix:before,.clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
@media only screen and (min-width: 35em) {}@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {}@media print {*{background:transparent!important;color:#000!important;box-shadow:none!important;text-shadow:none!important;}a,a:visited{text-decoration:underline;}a[href]:after{content:" (" attr(href) ")";}abbr[title]:after{content:" (" attr(title) ")";}
       .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:"";}pre,blockquote{border:1px solid #999;page-break-inside:avoid;}thead{display:table-header-group;}tr,img{page-break-inside:avoid;}img{max-width:100%!important;}@page{margin:0.5cm;}p,h2,h3{orphans:3;widows:3;}h2,h3{page-break-after:avoid;}}

