.noselect, .panel, .card, header {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.hidden {
  display: none; }

.hides-hidden hidden {
  display: none; }

.panel {
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  width: 800px;
  background-color: #fff;
  line-height: 1.4;
  padding-bottom: 10px;
  margin: 12px auto 12px auto; }
  @media (max-width: 480px) {
    .panel {
      width: 380.95238px;
      left: 0; } }
  @media (max-width: 768px) and (min-width: 481px) {
    .panel {
      width: 533.33333; } }
  @media (min-width: 1025px) {
    .panel {
      width: 960px; } }
  .panel .panel-header {
    background-color: #e6e6e6;
    min-height: 40px;
    font-size: 32px;
    line-height: 1.8;
    padding-left: 12px; }
    .panel .panel-header close {
      border: 2px solid red;
      border-radius: 100%;
      padding: 0px 10px 0px 10px;
      margin: 5px 5px 0px 10px;
      float: right;
      font-size: 14px;
      color: white;
      background-color: red; }
      .panel .panel-header close:hover {
        cursor: pointer; }
  .panel .panel-body {
    padding-left: 12px; }

.noselect, .panel, .card, header {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.hidden {
  display: none; }

.hides-hidden hidden {
  display: none; }

.card {
  position: relative;
  z-index: 2;
  cursor: pointer;
  padding: 1.5rem;
  box-shadow: 0 1px 2px #aaa;
  background: white;
  margin: 0 1rem 1rem;
  border-radius: 3px;
  user-select: none;
  transition: 1s ease-in-out;
  animation: fly-in-from-left 0.5s 1s ease both;
  transform-origin: top left; }

.card:nth-child(even) {
  animation-name: fly-in-from-right;
  animation-delay: 1.1s;
  transform-origin: top right; }

@keyframes fly-in-from-left {
  from {
    transform: translateY(15rem) rotate(15deg);
    opacity: 0; } }
@keyframes fly-in-from-right {
  from {
    transform: translateY(15rem) rotate(-15deg);
    opacity: 0; } }
.card:after {
  position: absolute;
  font-size: .9rem;
  top: 1.5rem;
  right: 1rem;
  /*content:"i";*/
  border: thin solid gray;
  color: gray;
  width: 1rem;
  line-height: 1rem;
  text-align: center;
  border-radius: 50%;
  pointer-events: none; }

.card-title {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 1.4; }

.card-body h2 {
  margin-top: 10px;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 1.2; }
.card-body p {
  margin-top: 20px;
  margin-bottom: 2px; }

.swiped {
  display: none; }

.noselect, .panel, .card, header {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.hidden {
  display: none; }

.hides-hidden hidden {
  display: none; }

* {
  margin: 0px;
  vertical-align: middle; }

html {
  background-color: #EFEFEF;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif; }

header {
  font-color: #eeffcc;
  width: 100%;
  min-height: 50px;
  display: inline-block; }
  header .brand {
    font-size: 32px; }
  header .logo {
    background: url(http://api.randomuser.me/portraits/med/men/50.jpg) 0% 30%/5% no-repeat; }

main {
  margin-left: 10px;
  margin-right: 10px; }

.container {
  width: 100%;
  margin: 10px auto 10px auto; }

.col-4 {
  width: 25%; }

.cool-color {
  color: lightseagreen; }

button {
  background: #2ecc71;
  border-radius: 3px;
  box-shadow: 0px 5px 0px #25a25a;
  border: 0;
  color: white;
  font-size: 17px;
  padding: 10px 30px;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px; }
  button:hover {
    background: #25a25a;
    box-shadow: 0px 5px 0px #1b7943; }
  button:active {
    box-shadow: none;
    margin-top: 5px; }

.ui-loader {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  display: none;
  outline: none; }

.ui-page {
  outline: none; }

/*# sourceMappingURL=test.css.map */
