<view title="'Home'" class="home">
<style type="text/css">
.home {
    background: url(../www/img/screens/home.png) no-repeat center center fixed !important;
}
#feels {
    padding: 100px;
    /*color: red;
    background: red;*/
    height: 50px;
    width: 40px;
    position: absolute;
    top: -370px;
    left: 20px;
}
#sugar {
    padding: 100px;
    /*color: red;
    background: red; */
    height: 50px;
    width: 40px;
    position: absolute;
    top: -400px;
    left: 150px;
}
a {
    color: transparent;
}
</style>
    <content has-header="true" has-subheader="true">

      <!--p style="text-align:center"> D&D Home Screen </p-->


       <a href="#feeling"> <div class="center" id="feels"> Feels </div> </a>
        <a href="#sugar"> <div class="center" id="sugar"> Sugar </div> </a>

       <a href="#graphs"> <div class="center" id="stats"> Stats </div> </a>

    </content>

</view>
