<view title="'Welcome'" class="splash">
<style type="text/css">

#preload-01  { background: url(../www/img/screens/TitleScreen.png) no-repeat -9999px -9999px; }
.splash {
    background: url(../www/img/screens/TitleScreen.png) no-repeat center center fixed !important;
}
</style>

    <content has-header="true" has-subheader="true">

      <p class="center"> Splash Page </p>

      <a href="#home"><div class="center" id="x2"> Login </div> </a>
      <div class="center"> Register </div>

    </content>

</view>
