<view title="'Welcome'" class="splash">
<style type="text/css">

#preload-01  { background: url(../www/img/screens/TitleScreen.png) no-repeat -9999px -9999px; }
.splash {
    background: url(../www/img/screens/splash2.png) no-repeat center center fixed !important;
}
</style>
 <a href="#home" id="x2">

    <content has-header="true" has-subheader="true">

      <!--p class="center"> Splash Page </p-->

      <!--a href="#home" id="x2"><div class="center" > Login </div> </a-->
      <!--div class="center"> Register </div-->

    </content>
    </a>

</view>
