<view title="'Input Glucose Readings'" class="home">
    <style type="text/css">
    .home {
        /*background: url(../www/img/screens/feels.png) no-repeat center center fixed !important;
    */}
    a {
        color: transparent;
    }
    </style>
    <content has-header="true" has-subheader="true">

        <!--p style="text-align:center"> D&D Home Screen </p-->
        <label class="item item-input">
            <span class="input-label">Telephone</span>
            <input type="tel">
        </label>

        <a href="#graphs">
            <div class="center" id="stats">Feels</div>
        </a>

    </content>

</view>
