<view title="'Create Profile'" class="home">
<style type="text/css">
.home {
    background: url(img/background.png) no-repeat center center fixed !important;
}
#cont{
  margin-left: auto;
  margin-right: auto;
 position: fixed;
  top: 330px;
  max-width: 100%;

}
a {
    color: transparent;
}
</style>
    <content has-header="true" has-subheader="true" scroll="false" id="modup">

  <div class="item item-avatar2">
    <img ng-src="img/tiff.png" id="pic">
    <h2 style="padding-bottom: 2px;" id="name">Tiffany Wang</h2>
    <p style="padding-bottom: -2px;"> <span id="age"> Age: 23 </span> <br> <!--i class="icon ion-map">  &nbsp;&nbsp;&nbsp;&nbsp; </i--> <span id="location"> Berkeley, CA </span>
    <br> <h4 id="tags"> Coding, Design, Snowboarding </h4> </p>
  </div>

  <div class="item item-body">
    <p>
      This is your Profile
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
    </div>

<div>
    <a href="#matches"> <img src="img/continue.png" id="cont"> </a>

  </div>


  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>

</div>

    </content>

</view>
