<view title="'Recommendations'" class="home">
<style type="text/css">
.home {
    background: url(img/background.png) no-repeat center center fixed !important;
}
#mod-up {
    margin-top: -20px;

}
a {
    color: transparent;
}
</style>
    <content has-header="true" has-subheader="true" scroll="true" id="mod-up">


        <div class="item item-avatar2">
            <img ng-src="img/sliver.png" id="pic">
            <h2 style="padding-bottom: 2px;" id="name">Sliver Pizzeria</h2>
            <p style="padding-bottom: -2px;">
                <span id="address">2150 Shattuck</span>
                <br>
                <!--i class="icon ion-map">  &nbsp;&nbsp;&nbsp;&nbsp; </i-->
                <span id="location">Berkeley, CA</span>
                <br>
                <h4 id="tags">Pizza, Beer, Music</h4>
            </p>
        </div>

        <div class="item item-body">
            <p>
                This is a sample Recommendation
            </p>
            <p>
                <a href="#" class="subdued">1 Like</a>
                <a href="#" class="subdued">5 Comments</a>
            </p>
        </div>


        <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#">
                <i class="icon ion-thumbsup"></i>
                Like
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-chatbox"></i>
                Comment
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-share"></i>
                Share
            </a>
        </div>

        </div>
        <br>



        <div class="item item-avatar2">
            <img ng-src="img/sliver.png" id="pic">
            <h2 style="padding-bottom: 2px;" id="name">Sliver Pizzeria</h2>
            <p style="padding-bottom: -2px;">
                <span id="address">2150 Shattuck</span>
                <br>
                <!--i class="icon ion-map">  &nbsp;&nbsp;&nbsp;&nbsp; </i-->
                <span id="location">Berkeley, CA</span>
                <br>
                <h4 id="tags">Pizza, Beer, Music</h4>
            </p>
        </div>

        <div class="item item-body">
            <p>
               (2) This is a sample Recommendation
            </p>
            <p>
                <a href="#" class="subdued">1 Like</a>
                <a href="#" class="subdued">5 Comments</a>
            </p>
        </div>


        <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#">
                <i class="icon ion-thumbsup"></i>
                Like
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-chatbox"></i>
                Comment
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-share"></i>
                Share
            </a>
        </div>

        </div>
      <br>


        <div class="item item-avatar2">
            <img ng-src="img/sliver.png" id="pic">
            <h2 style="padding-bottom: 2px;" id="name">Sliver Pizzeria</h2>
            <p style="padding-bottom: -2px;">
                <span id="address">2150 Shattuck</span>
                <br>
                <!--i class="icon ion-map">  &nbsp;&nbsp;&nbsp;&nbsp; </i-->
                <span id="location">Berkeley, CA</span>
                <br>
                <h4 id="tags">Pizza, Beer, Music</h4>
            </p>
        </div>

        <div class="item item-body">
            <p>
                (3) This is a sample Recommendation
            </p>
            <p>
                <a href="#" class="subdued">1 Like</a>
                <a href="#" class="subdued">5 Comments</a>
            </p>
        </div>


        <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#">
                <i class="icon ion-thumbsup"></i>
                Like
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-chatbox"></i>
                Comment
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-share"></i>
                Share
            </a>
        </div>

        </div>


    </content>

</view>
