/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.center {
  text-align: center;
  margin-left: auto !important;
  margin-right: auto !important;
}
.b1 {
 padding: 2px 4px 4px 4px;
 color: blue;
}

#x2 {
  margin-top: 370px;
  margin-bottom: 70px;
}

#stats {
  margin-top: 450px;
  background-color: gray;
  width: 200px;
  height: 50px;
}

#up {
  margin-top: 25px;
  z-index: 9999;
}

.capped {
  max-height: 500px;
}
.b1:hover {
    color: red;
}

.b1:first-child {
    margin-left: 10px;
}
.details {
    padding: 0px 12px 20px 12px;
}

.r-float {
    display: absolute;
    float: right;
}
.six {
    padding: 10px 10px 10px 10px;
    margin: -10px -10px 2px 0px;
    height: 60px;
    width: 200px;
    background-color: transparent;
}
.profile {
    min-width: 80px;
    min-height: 80px;
}
.block{
   margin: 2px 0px 2px 40px;
}
.details img {
    float: left;
    margin-right: 12px;
}

.list {
    clear: both;
}